$bgcolor: khaki;
$color: darkkhaki;
$transparent: rgba(255, 255, 255, 0);

$deg1: -70deg;
$deg2: 150deg;
$deg3: 30deg;

$color-1: adjust-hue($color, $deg1);
$transparent-1: transparentize($color-1, 1);

$color-2: adjust-hue($color, $deg2);
$transparent-2: transparentize($color-2, 1);

$color-3: adjust-hue($color, $deg3);
$transparent-3: transparentize($color-3, 1);

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';

  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.header {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-fence {
  background-image: repeating-linear-gradient(135deg, #fff, #fff 60px, #70C8A0 60px, #70C8A0 120px);
  border: solid #D8D8D8;
  border-width: 11px 0;
  flex: 1;
}

.content {
  flex: 1;
}

.title {
  font-size: 48px;
  color: #3A7395;
}

.btn-start-game {
  height: 100px;
  width: 280px;
  background-color: #84CDF9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin: 30px auto;
}

.btn-text {
  color: #fff;
  font-size: 36px;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hidden {
  display: none;
}

.story-desk {
  background-color: #C86571;
  color: #fff;
  padding: 30px 60px 100px;
  max-width: 800px;
  margin: 75px auto;
}

.text-title {
  font-size: 36px;
  padding-bottom: 20px;
}

.text {
  font-size: 24px;
}

.maze-cell {
  width: 50px;
  height: 50px;
  border: 1px solid #70C8A0;
  box-sizing: border-box;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 12px;
}

.maze-row {
  display: flex;
  flex-direction: row;
  .maze-cell {
    margin-left: -1px;
    margin-top: -1px;
  }
  .maze-cell:first-child {
    margin-left: 0;
  }
}

.maze-container{
  transition: 2s;
}


.screen-maze {
  justify-content: center;
  align-items: center;
}

.user-position{
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
}